<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

  <!-- polyfill.io only loads the polyfills your browser needs -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Intl"></script>

  {% block element_scripts %} {% endblock %}

  <title>{% block title %} {% endblock %}</title>


</head>

<body>
  {% include 'header.html' %}
  <div class="main">
    <div class="nav">
      <ul class="nav flex-column">
        <a class="navbar-brand" href="/">UI Elements</a>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='explorer' %}active{%endif %}" aria-current="page" href="{{ url_for('explorer_page') }}">Explorer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='previewer-single' %}active{%endif %}" aria-current="page"
            href="{{ url_for('previewer_page_single') }}">Previewer<br>(single file)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='previewer-multi' %}active{%endif %}" aria-current="page"
            href="{{ url_for('previewer_page_multi') }}">Previewer<br>(multi file)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='previewer-multi-sidebar' %}active{%endif %}" aria-current="page"
            href="{{ url_for('previewer_page_multi_sidebar') }}">Previewer<br>(w/ sidebar)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='sidebar' %}active{%endif %}" aria-current="page"
            href="{{ url_for('sidebar_page') }}">Sidebar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='uploader' %}active{%endif %}" aria-current="page"
            href="{{ url_for('uploader_page') }}">Uploader</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='uploader-popup' %}active{%endif %}" aria-current="page"
            href="{{ url_for('uploader_popup_page') }}">Uploader<br>(pop-up)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='picker' %}active{%endif %}" aria-current="page"
            href="{{ url_for('picker_page') }}">Picker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='picker-pdf' %}active{%endif %}" aria-current="page"
            href="{{ url_for('picker_pdf_page') }}">Picker<br>(pdf only)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page=='picker-popup' %}active{%endif %}" aria-current="page"
            href="{{ url_for('picker_popup_page') }}">Picker<br>(pop-up)</a>
        </li>
      </ul>
    </div>
    <div class="element">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
      {% block content %} {% endblock %}
    </div>
  </div>

  {% include 'footer.html' %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>