{% extends 'base.html' %}

{% block element_scripts %}
<!-- Latest version of Box Picker for en-US locale -->
<script src="https://cdn01.boxcdn.net/platform/elements/15.0.0/en-US/picker.js"></script>
<link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/elements/15.0.0/en-US/picker.css" />
{% endblock %}

{% block content %}

<div class="picker {% if active_page=='picker-popup' %}picker-modal-base{%endif %}"></div>

<script>
    var folder_id = '{{ folder_id }}';
    var accessToken = '{{ token }}';
    var options = JSON.parse('{{ options | tojson | safe }}');

    console.log('options:', options);

    var contentPicker = new Box.ContentPicker();
    console.log('Content Picker:', contentPicker);

    contentPicker.addListener('choose', pickerChoose);
    contentPicker.addListener('cancel', pickerCancel);

    function pickerChoose(e) {
        console.log('choose:', e);
        sendEventToServer('choose', e);
    }

    function pickerCancel(e) {
        console.log('cancel:', e);
        sendEventToServer('cancel', e);
    }	

    function sendEventToServer(eventType, e) {

        var localData = {
            eventType: eventType,
            e: e
        };

        $.ajax({
            url: "{{ url_for('event') }}",
            type: 'POST',
            data: JSON.stringify(localData),
            contentType: 'application/json;charset=UTF-8',
        });
    };

    contentPicker.show(folder_id, accessToken, options);
</script>

{% endblock %}