{% extends 'base.html' %}

{% block element_scripts %}
<!-- Latest version of Box Content Preview for en-US locale -->
<script src="https://cdn01.boxcdn.net/platform/preview/2.81.0/en-US/preview.js"></script>
<link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/preview/2.81.0/en-US/preview.css" />

<!-- Latest version of Box Content Preview for en-US locale -->
<script src="https://cdn01.boxcdn.net/platform/elements/15.0.0/en-US/sidebar.js"></script>
<link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/elements/15.0.0/en-US/sidebar.css" />

{% endblock %}

{% block content %}

<div style="height: 100%; display: flex;">
    <div class="previewer" style="flex: 2;"></div>
    <div class="sidebar"></div>
</div>

<script>
    var file_id = '{{ file_id }}';
    var accessToken = '{{ token }}';
    var optionsPreview = JSON.parse('{{ optionsPreview | tojson | safe }}');
    var optionsSidebar = JSON.parse('{{ optionsSidebar | tojson | safe }}');


    var previewer = new Box.Preview();
    var sidebar = new Box.ContentSidebar();

    previewer.show(file_id, accessToken, optionsPreview);
    sidebar.show(file_id, accessToken, optionsSidebar);
</script>

{% endblock %}