{% extends 'base.html' %}

{% block element_scripts %}
<!-- Latest version of Box Sidebar for en-US locale -->
<script src="https://cdn01.boxcdn.net/platform/elements/15.0.0/en-US/sidebar.js"></script>
<link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/elements/15.0.0/en-US/sidebar.css" />
{% endblock %}

{% block content %}

<div class="sidebar"></div>

<script>
    var file_id = '{{ file_id }}';
    var accessToken = '{{ token }}';
    var options = JSON.parse('{{ options | tojson | safe }}');

    console.log('options:', options);

    var sidebar = new Box.ContentSidebar();
    console.log('Sidebar:', sidebar);

    sidebar.show(file_id, accessToken, options);
</script>

{% endblock %}